@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.checkbox {
  border: 2px solid transparent;
  border-radius: 2px;
}

.filter-list:hover .checkbox {
  border: 2px solid #0189ff;
  transition: 0.3s;
}

.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

img {
  transition: all 0.2s ease;
  filter: brightness(0.8) blur(0.5px);
}
.img-container:hover img {
  transform: scale(1.02);
  filter: brightness(1) blur(0);
}
