@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
}

.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

img {
  transition: all 0.2s ease;
  filter: brightness(0.8) blur(0.5px);
}
.img-container:hover img {
  transform: scale(1.02);
  filter: brightness(1) blur(0);
}

/* width */
::-webkit-scrollbar {
  display: none;
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}
